.article {
	font-size: 18px;
	line-height: 1.8;
	padding-bottom: 20px;

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 24px;
	}

	main {
		margin-top: 24px;

		h1 {
			font-size: 28px;
		}

		p {
			margin: 20px 0;
		}

		a {
			font-style: normal;
			color: #2f2f2f;

			&:hover {
				text-decoration: underline;
			}
		}

		button {
			border: none;
			font-size: inherit;
			outline: none;
			cursor: pointer;
			color: #2f2f2f;
			background: transparent;
			padding: 0;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media screen and (max-width: 768px) {
		h1 {
			font-size: 34px;
		}
	}
}
