.header {
  display: flex;
  align-items: center;
  margin-bottom: 60px;

  .logo {
    cursor: pointer;
    width: 60px;
    height: 60px;
  }

  .breadCrumb {
    margin-left: 24px;
    font-size: 20px;
    cursor: default;

    .originLink {
      &.isHoverable {
        cursor: pointer;
        &:hover {
          color: #2b98db;
        }
      }
    }

    .separator {
      margin: 0 12px;
    }
  }
}
