.preview {
  cursor: pointer;

  h1 {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
      opacity: 0;
      transition: transform 0.3s, opacity 0.2s;
    }

    &::before {
      position: absolute;
      left: 0;
      content: '[';
      transform: translateX(0px);
    }

    &::after {
      position: absolute;
      right: 0;
      content: ']';
      transform: translateX(0px);
    }
  }
  &:hover {
    h1 {
      text-decoration: none;
      &::before {
        opacity: 1;
        transform: translateX(-22px);
      }

      &::after {
        opacity: 1;
        transform: translateX(22px);
      }
    }
  }

  h2 {
    font-size: 20px;
  }
}

.aside {
  h2 {
    margin: 24px 0;
    line-height: 1.4;
  }

  em {
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
  }

  font-size: 16px;
  padding: 0 18px;
  margin: 0 auto;
  background: #f5f5f5;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0s cubic-bezier(0, 1, 0, 1);
}

.appear {
  box-shadow: inset 0 0 10px #dfdfdf;
  max-height: 10000px;
  transition: max-height 1s ease-in-out;
}
