.preview {
  cursor: pointer;

  h1 {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
      opacity: 0;
      transition: transform 0.3s, opacity 0.2s;
    }

    &::before {
      position: absolute;
      left: 0;
      content: '[';
      transform: translateX(0px);
    }

    &::after {
      position: absolute;
      right: 0;
      content: ']';
      transform: translateX(0px);
    }
  }
  &:hover {
    h1 {
      text-decoration: none;
      &::before {
        opacity: 1;
        transform: translateX(-22px);
      }

      &::after {
        opacity: 1;
        transform: translateX(22px);
      }
    }
  }

  h2 {
    font-size: 20px;
  }
}
