body {
	font-family: "Inconsolata", monospace;
	font-size: 16px;
	margin: 0;
	max-width: 768px;
	margin: 0 auto;
	line-height: 1;
}

a {
	color: inherit;
	text-decoration: none;
}
p {
	margin: 0;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	font-weight: 400;
}

circle,
path {
	transition: 0.3s linear;
}

.tooltip {
	display: inherit;
	position: relative;

	&:hover {
		z-index: 1;

		&::after,
		&::before {
			opacity: 1;
			transition-delay: 0.2s;
		}
	}

	&:before {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;

		border-bottom: 5px solid black;
		content: "";

		position: absolute;
		top: 130%;
		left: 0;
		right: 0;
		margin: -5px auto 0 auto;

		pointer-events: none;
		opacity: 0;
	}

	&:after {
		box-sizing: border-box;
		background: black;
		color: white;
		padding: 5px;
		border-radius: 3px;
		content: attr(aria-label);
		display: flex;

		font-size: 14px;
		line-height: 1.2;
		position: absolute;
		left: 0;
		right: 0;
		top: 130%;
		margin: 0 auto;
		min-width: 100px;
		pointer-events: none;
		opacity: 0;
	}
}

.home {
	display: flex;
	height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.home__chick {
	position: relative;
	width: 450px;
	height: 450px;
	background-image: url("/static/img/chick.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.home__chick-eye {
	position: absolute;
	cursor: pointer;
	top: 90px;
	left: 130px;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background: black;
	animation: squeeze 2s infinite;
}

.home__header {
	margin: 20px 0 10px 0;
	font-size: 60px;
	text-align: center;
}

.home__link {
	position: relative;
	padding-left: 25px;
	font-size: 18px;
}

.home__link::before {
	position: absolute;
	transition: 0.2s linear;
	left: 0;
	top: 1px;
	content: ">";
}

.home__link:hover {
	font-weight: bold;
	transition-delay: 0.25s;
}

.home__link:hover::before {
	transform: translateX(10px);
	font-weight: normal;
}

@keyframes squeeze {
	90% {
		transform: none;
		animation-timing-function: ease-in;
	}
	93% {
		transform: translateY(3px) scaleY(0.8);
	}
	100% {
		animation-timing-function: ease-out;
	}
}

.portfolio {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.portfolio__container {
	display: flex;
	flex-wrap: wrap;
	width: 720px;
}

.portfolio__item {
	position: relative;
	width: 340px;
	margin: 10px;
	height: 340px;
	box-sizing: border-box;
	background: black;
	border-radius: 3px;
	overflow: hidden;
}

.portfolio__item > img {
	width: 100%;
	height: 100%;
}

.portfolio__item-content {
	position: absolute;
	box-sizing: border-box;
	padding: 10px 15px;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(-45px);
	transition: 0.3s linear;
	color: white;
	background: black;
}

.portfolio__item-content > h2 {
	margin-top: 0;
}

.portfolio__item:hover .portfolio__item-content {
	transform: translateY(-110px);
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

.about__header {
	width: 100%;
	font-size: 28px;
	color: #aaa;
	text-transform: uppercase;
	margin: 45px 0 0;
	font-weight: 400;
	letter-spacing: 2px;
}

.about__skills {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	padding-left: 180px;
	box-sizing: border-box;
	margin-top: 20px;
	grid-gap: 20px;
	width: 100%;
}

.about__skills-block {
	list-style: none;
	padding: 0;
	margin: 0;
	color: #737373;
	font-size: 18px;
	line-height: 1.6;
	font-weight: 300;

	> li:first-child {
		font-size: 22px;
		color: initial;
		font-weight: 400;
	}
}

.about__print-btn {
	margin: 60px auto 0 0;
	border-radius: 3px;
	padding: 5px 10px;
	background: transparent;
	outline: none;
	color: #737373;
	font-size: 13px;
	border: 2px solid #efefef;
	cursor: pointer;

	&:hover {
		border-color: #2b98db;
	}
}

.tile {
	position: relative;
	display: flex;
	align-items: center;
	margin: 16px 0;
	width: 100%;
	box-sizing: border-box;

	h4 {
		position: relative;
		display: inline-block;
		font-weight: normal;
		font-size: 22px;
		margin: 0 0 5px 0;
	}

	p {
		margin-bottom: 5px;
		color: #929292;
	}

	&:hover {
		h4 {
			text-decoration: underline;
		}
	}

	&--hoverable {
		h4 {
			&::before,
			&::after {
				opacity: 0;
				transition: transform 0.3s, opacity 0.2s;
			}

			&::before {
				position: absolute;
				left: 0;
				content: "[";
				transform: translateX(0px);
			}

			&::after {
				position: absolute;
				right: 0;
				content: "]";
				transform: translateX(0px);
			}
		}
		&:hover {
			.tile__tag {
				background: #2b98db;
				border-color: #2b98db;
				color: white;
			}
			h4 {
				text-decoration: none;
				&::before {
					opacity: 1;
					transform: translateX(-15px);
				}

				&::after {
					opacity: 1;
					transform: translateX(15px);
				}
			}
		}
	}
}

.tile__img-container {
	height: 40px;
	min-width: 150px;
	margin-right: 30px;
	display: flex;
	justify-content: center;
	> img {
		height: 100%;
		width: auto;
	}
}

.tile__tag-container {
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
}

.tile__tag {
	border: 2px solid #d6d5d5;
	border-radius: 2px;
	padding: 3px 5px;
	font-size: 14px;
	margin: 5px;
	color: #737373;
	transition: 0.15s ease-in;
}

.header {
	display: flex;
	width: 100%;
}

.header__info {
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
		color: #aaa;
		font-weight: 400;
		margin-top: 10px;
	}
}

.header__picture {
	position: relative;
	max-width: 160px;
	margin-right: 20px;

	> img {
		width: 100%;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 5px;
		left: 0;
		background-image: url("/static/img/chick_picture.png");
		background-size: 100%;
		width: 50px;
		height: 50px;
		transition: 0.3s ease-in;
		opacity: 0;
	}

	&:hover {
		&::after {
			opacity: 1;
		}
	}
}

.header__contact-list {
	padding: 0;
	margin: 15px 0 0 0;
	list-style: none;
	display: flex;
}

.contact__link {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.contact__icon {
	display: flex;

	> svg {
		width: 30px;
		height: 30px;
	}

	> span {
		display: none;
	}

	&--medium {
		&:hover {
			path:first-of-type {
				fill: #333;
			}
		}
	}

	&--twitter {
		&:hover {
			fill: #55acee;
		}
	}

	&--email {
		path:first-of-type {
			fill: transparent;
		}
		&:hover {
			path:first-of-type {
				fill: #ec5f5f;
			}
		}
	}

	&--linkedin {
		&:hover {
			fill: #4875b4;
		}
	}

	&--dribbble {
		circle {
			fill: transparent;
		}
		&:hover {
			circle {
				fill: #ea4c89;
			}
			path {
				fill: #c32361;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		flex-direction: column;
	}

	.header__picture {
		margin: 0 auto 30px auto;
		padding: 30px;
		border-radius: 3px;
		background: #fafafa;
		max-width: 250px;
	}
	.tile__img-container {
		display: none;
	}

	.home__chick {
		width: 100%;
		height: 350px;
	}

	.about__skills {
		padding: 0;
	}
}

@media screen and (max-width: 320px) {
	.home__chick-eye {
		top: 120px;
		left: 100px;
	}
}

@media print {
	body {
		margin-top: 20px;
	}
	.about__print-btn {
		display: none;
	}

	.header__contact-list {
		display: block;
	}
	.contact__link {
		padding: 5px 0;
		span {
			margin-left: 10px;
			display: block;
		}

		svg {
			width: 20px;
			height: 20px;
		}
	}

	.contact__icon {
		align-items: center;
	}
}
